_corrupted
Binaries
DerivedDataCache
Intermediate
Saved
Content/Packages/*/*
!Content/Packages/**/.keep
Source/*/*
!Source/InteractionSystem/*
!Source/InventorySystem/*
!Source/SurvivalGame/*
!Source/SurvivalGameEditor/*
!Source/*/.keep
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
