_corrupted
Binaries
DerivedDataCache
Intermediate
Saved
Content/AnimStarterPack/*
!Content/AnimStarterPack/**/.keep
Content/FirstPerson/*
!Content/FirstPerson/**/.keep
Content/Mannequin/*
!Content/Mannequin/**/.keep
Content/MCO_Mocap_Basics/*
!Content/MCO_Mocap_Basics/**/.keep
Content/StarterContent/*
!Content/StarterContent/**/.keep
Source/*/*
!Source/SurvivalGame/*
!Source/SurvivalGameEditor/*
!Source/*/.keep
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
