_corrupted
Binaries
DerivedDataCache
Intermediate
Saved
Content/AnimStarterPack
Content/FirstPerson
Content/Mannequin
Content/MCO_Mocap_Basics
Content/StarterContent
Source/FBX
Source/Maya
Source/Motionbuilder
Source/SKMannequin_A_Pose
Source/SKMannequin_T_Pose
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
